body {background-color: black; background-image: url(../firstimages/mountains-small.jpg);background-size: cover;}
img {margin-left: auto; margin-right: auto; display: block; width: 400px; height:auto; border-width: 5px; border-style: dotted;}
   #border {border-color: white; border-width: 50%;}
   .yellow-border {border-color: yellow;}
h4 {text-align: center; color: white;}
h2 {text-align: center; width: 20%; margin: auto; padding: 10px; border: 5px solid; border-color: plum; color: plum; background-color: white; text-shadow: 3px;}
h3 {text-align: center; color: plum}
li {color: white}
ul {display: inline-block;}
ol {display: inline-block;}
a {display: inline-block; ; color: plum; width: 20%; border: 2px solid; border-color: plum; margin-top: 20px;}
a:hover {background-color: blue;}
div {margin: auto;text-align: center;}
iframe {display: block; margin-left: auto; margin-right: auto; margin-top: 30px;}